{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmebinder/css/demo.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmebinder/css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmebinder/css/style.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/acmebinder/js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acmebinder/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acmebinder/js/custom.js') }}"></script>
{% endblock %}

{% block title 'Binder Bundle' %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="block_c">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
