{% extends "AcmeOrderBundle::layout.html.twig" %}

{% block title "Symfony" %}

{% block content %}
    {% set code = availabilitation(result) %}

    {% if code is defined %}
        <h2>Result of request</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}

    <div class="symfony-blocks-welcome">
        <form action="{{ path('_order_hello') }}" method="POST" id="contact_form">
            {{ form_errors(form) }}

            {{ form_row(form.model) }}
            {{ form_row(form.color_code) }}
            {{ form_row(form.size) }}

            {{ form_rest(form) }}
            <input type="submit" value="Send" class="symfony-button-grey" />
        </form>
    </div>
{% endblock %}