{% extends 'AcmeOrderBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <h1 class="title">Welcome on <strong>Order Helper</strong> page!</h1>

    <div class="symfony-blocks-welcome">
        <form action="{{ path('_order_hello') }}" method="POST" id="contact_form">
            {{ form_errors(form) }}

            {{ form_row(form.model) }}
            {{ form_row(form.color_code) }}
            {{ form_row(form.size) }}

            {{ form_rest(form) }}
            <input type="submit" value="Send" class="symfony-button-grey" />
        </form>
    </div>

    <div class="symfony-blocks-help">
        <div class="block-documentation">
            <ul>
                <li><strong>Resources</strong></li>
                <li><a href="http://symfony.union-progress.com/order/history">History</a></li>
                <li><a href="http://symfony.union-progress.com/order/amazonalert">Amazon Alerter</a></li>
            </ul>
        </div>
        <div class="block-documentation-more">
            <ul>
                <li><strong>Lists</strong></li>
                <li><a href="http://symfony.union-progress.com/order/lists/luxottica">LUXOTTICA</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/marchon">MARCHON</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/marcolin">MARCOLIN</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/mysafilo">MYSAFILO</a></li>
            </ul>
        </div>
        <div class="block-community">
            <ul>
                <li><strong>New Products</strong></li>
                <li><a href="http://symfony.union-progress.com/order/lists/luxottica/new">LUXOTTICA</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/marchon/new">MARCHON</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/marcolin/new">MARCOLIN</a></li>
                <li><a href="http://symfony.union-progress.com/order/lists/mysafilo/new">MYSAFILO</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
